.main-logo {
    height: 20vh;
    margin-top: -1vh;
}

.home--go-in {
    font-size: 9vh;
    margin-top: 2.5vh;
}

.home--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}